.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: min(98vw, 900px);
  height: calc(98dvh - 100px);
}
.messages-container {
  overflow: auto;
  width: 100%;
  height: 100%;
}

.fade {
  width: 100%;
  height: calc(97dvh / 10);
  position: absolute;
  background: rgb(24, 24, 24);
  background: linear-gradient(
    0deg,
    rgba(24, 24, 24, 0) 0%,
    rgba(24, 24, 24, 0.7) 69%,
    rgba(24, 24, 24, 1) 100%
  );
}

.message-container {
  margin: 5px;
  margin-right: 30px;
  text-align: left;
}

.message-container.own {
  text-align: left;
  margin-right: 5px;
  margin-left: 30px;
}

.message-time-container {
  max-width: min(calc(97vw - 30px), calc(900px - 30px));
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-left: 5px;
  padding-bottom: 3px;
  padding-top: 1px;
  padding-right: 3px;
  background-color: #ffffff26;
  border: 1px groove #00ffff44;
  border-radius: 0 10px 10px 10px;
  width: fit-content;
}

.message-time-container.own {
  background-color: #ffffff39;
  border: 1px groove #ff000044;
  border-radius: 10px 0 10px 10px;
}

.mov-container {
  display: flex;
  flex-direction: row;
}

.mov-container.own {
  display: flex;
  flex-direction: row-reverse;
}

.user-container {
  border: 1px groove #00ffff44;
  border-radius: 10px 10px 0 0;
  padding: 3px;
  background-color: #00ffff2f;
  border-bottom: none;
  width: fit-content;
}

.user-container.own {
  background-color: #ff00002f;
  border: 1px groove #ff000044;
  left: 100%;
}

.user {
  font-size: 0.875em;
  color: #bbabbb;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.422);
}

.message {
  word-break: break-all;
  user-select: text;
}

.time {
  color: #babbbb;
  font-size: small;
}

.messages-container {
  --sb-track-color: #001d1d;
  --sb-thumb-color: #730000;
  --sb-size: 7px;
}

.messages-container::-webkit-scrollbar {
  width: var(--sb-size);
}

.messages-container::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

.messages-container::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  .messages-container {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

.message-form {
  margin-top: 1dvh;
  background-color: #010101;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  border: 3px groove #ff000044;
  border-radius: 30px;
}

.message-form-input {
  font-size: medium;
  background-color: #010101;
  border: 3px groove #ff000044;
  border-radius: 30px;
  border: 0;
  outline: 0;
  width: 100%;
  padding: 5px;
  padding-left: 7px;
}

.message-form-button {
  border: 3px groove #ff000044;
  border-radius: 30px;
}

@media (prefers-color-scheme: light) {
  .fade {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.7) 69%,
      rgb(255, 255, 255) 100%
    );
  }

  .message-form {
    background-color: #eeeeee;
    border: 3px groove #000000;
  }

  .message-form-input {
    background-color: #eeeeee;
    border: 0;
  }

  .message-form-button {
    border: 3px groove #000000;
    border-radius: 30px;
  }

  .messages-container {
    --sb-track-color: #0069693f;
    --sb-thumb-color: #bd000050;
    --sb-size: 7px;
  }
}
