.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat-container {
  display: flex;
  align-items: center;
  width: fit-content;
}

.upper-view {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95vw;
  height: 100px;
}

.title-h1 {
  font-size: calc(7vh);
}

.session-button-container {
  position: relative;
}

.session-button {
  font-size: calc(2vh);
  padding: 10px;
  border-radius: 20px;
  border: 0px;
}

.session-button:hover {
  background-color: #434343;
}

.session-button:active {
  background-color: #232323;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.form-container {
  right: 0px;
  top: 0px;
  position: absolute;
  background-color: #242424;
  padding: 6px;
  border-radius: 6px;
}

.login-input {
  font-size: medium;
  border-radius: 0%;
  border: 0px;
  padding: 3px;
  margin: 2px;
}

.sumbit-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-info {
  font-size: medium;
}
.login-info:hover {
  color: #a4a4a4;
}

.login-input:focus {
  outline: 1px solid #f9f9f9;
}

.login-button {
  margin-top: 6px;
}
